<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /remote/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /remote/index.php [L]
</IfModule>